.containerUpdates {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 50px - 70px);
    padding: 0 30px;
    color: #44546F; 
}

.nome_inicial{
    font-style: normal;
    font-size: 20px;
    line-height: 30px; 
    text-align: center;
    margin-top: 20px;
}

.container_newPost {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    font-size: 13px; 
}

.container_dados {
    display: flex;
    flex-direction: column;
}

.container_infos {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.container_info {
    display: flex;
    gap: 7px;
}

.message_user {
    margin-top: 10px;
    color: #172B4D;
}

.dev {
    background-color: rgba(9, 30, 66, 0.0588235);
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.names {
    font-weight: 800;
}